:root {
  --background: #f8f8f8;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

h2,
h3,
h4 {
  text-align: center;
}

.ui.cards {
  margin: 1rem !important;
}

.ui.card>.content,
.ui.cards>.card>.content {
  z-index: 0;
}

.ui.container.cartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1rem
}

.ui.container.checkoutContainer {
  margin: 2.5rem;
  padding: 15px;
  background: #f0f0f0;
}

.ui.button.removeItem {
  background: #c51919bd;
}